@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.content {
  width: 100%;
  max-width: 60rem;
  margin: 20px auto;
}

.envelope-wrapper {
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #ddd;
  background-color: #fff;
  width: 40rem;
  height: 20rem;
}

.envelope-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.envelope-body {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.stamp {
  border: 2px solid #aaa;
  height: 70px;
  width: 60px;
  color: #aaa;
}

.rotate {
  transform: rotate(320deg);
  display: inline-block;
  margin-top: 20px;
}

.address-wrapper {
  padding: 10px;
}

.address-details p {
  font-weight: bold;
  margin: 5px 0;
  font-size: 12px;
}

.address-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.address-details ul li {
  margin: 5px 0;
}

/*
  Credit Card
*/

.card-content {
  width: 40rem;
  margin: 60px auto;
}

.credit-card-wrapper {
  width: 27rem;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #2563eb;
  color: #fff;
  padding: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.credit-card-header {
  margin-bottom: 60px;
}

.credit-card-header h1 {
  margin: 0;
  text-align: right;
}

.credit-card-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit-card-number span {
  display: inline-block;
  font-size: 32px;
  letter-spacing: 2px;
}

.credit-card-ccv span {
  font-size: 10px;
  display: flex;
  align-items: center;
}

.credit-card-ex-date {
  display: flex;
  justify-content: center;
}

.ex-date-text span {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
}

.ex-date {
  display: flex;
  align-items: baseline;
  margin-left: 5px;
  font-size: 24px;
  letter-spacing: 2px;
}

.credit-card-footer {
  margin-top: 10px;
}

.credit-card-holder {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
